.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-border-color: yellow;
}

.button:hover {
    -fx-text-fill: black;
    -fx-background-color: yellow;
}

#sokoscene {
    -fx-background-image: url("images/lock_bg.jpg");
    -fx-background-position:center;
    -fx-background-repeat: repeat;
}

.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: yellow;
    -fx-opacity: 1;
}

#credit {
    -fx-font: 11pt "Arial Narrow";
    -fx-fill: white;
}

#labelVolume {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial Narrow";
    -fx-text-fill: white;
}

#labelRecord {
    -fx-font-size: 9pt;
    -fx-font-family: "Arial Narrow";
    -fx-text-fill: white;
}